In [1]:
import pandas as pd
import numpy as np

In [18]:
file = pd.read_csv('DAY_1.txt', sep=' ', engine='python')

In [39]:
print(file)

       A  B  C  D  E  F  G  H  I  J  ...  M  N  O  P  Q  R  S  T  OCC-1  OCC-2
0      0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0     12     17
1      0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0     12     17
2      0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0     12     17
3      0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0     12     17
4      0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0     12     17
...   .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. ..    ...    ...
86394  0  0  0  1  1  1  0  0  0  0  ...  0  0  0  0  0  0  0  0     12     12
86395  0  0  0  1  1  1  0  0  0  0  ...  0  0  0  0  0  0  0  0     12     12
86396  0  0  0  1  1  1  0  0  0  0  ...  0  0  0  0  0  0  0  0     12     12
86397  0  0  0  1  1  1  0  0  0  0  ...  0  0  0  0  0  0  0  0     12     12
86398  0  0  0  1  1  1  0  0  0  0  ...  0  0  0  0  0  0  0  0     12     12

[86399 rows x 22 columns]

In [33]:
file.head()

   A  B  C  D  E  F  G  H  I  J  ...  M  N  O  P  Q  R  S  T  OCC-1  OCC-2
0  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0     12     17
1  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0     12     17
2  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0     12     17
3  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0     12     17
4  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0     12     17

[5 rows x 22 columns]

pandas.core.frame.DataFrame

In [32]:
file.columns=['A','B','C','D','E','F','G','H','I',
              'J','K','L','M','N','O','P','Q','R',
              'S','T','OCC-1','OCC-2']

In [34]:
file['OCC-1']

0        12
1        12
2        12
3        12
4        12
         ..
86394    12
86395    12
86396    12
86397    12
86398    12
Name: OCC-1, Length: 86399, dtype: int64

In [36]:
occ_1_act = file[['OCC-1']]

In [38]:
for x in occ_1_act:
    y = 12
    if x != y:
        result = occ_1_act.index(x)
        print(result)
        y = x

TypeError: 'RangeIndex' object is not callable

In [40]:
occ_1_act.index(12)

TypeError: 'RangeIndex' object is not callable